

<app-not-found [visible]= "!cart || cart.items.length <=0"
 notFoundMessage="Items not Found!"
 resetLinkTest="Go To HomePage!"
 ></app-not-found>

<div  *ngIf = "cart && cart.items.length >0 " class="container">
  <ul>
    <li *ngFor="let cartItems of cart.items" >
      <div>
        <img [src]="cartItems.food.imageUrl" [alt]="cartItems.food.name">
      </div>

      <div>
        <a routerLink="/food/{{cartItems.food.id}}">
          {{cartItems.food.name}}
        </a>
      </div>
      <div>
        <select #quantitySelect (change)="changeQuantity(cartItems, quantitySelect.value)">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>

        </select>
      </div>
      <div>
        {{ cartItems.price }}
      </div>
      <div>
        <button class="remove-button" (click)="removeFromCart(cartItems)">
Remove
        </button>
      </div>
      </li>
  </ul>
  <div class="checkout">
    <div class="food-count">
      {{cart.items.length}}
    </div>
    <div class="total-count">
      {{cart.totalPrice| currency}}
    </div>
    <a routerLink="/checkout">Proceed to checkout</a>

  </div>


</div>


