ul{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  list-style-type: none;
  padding:0;

}
ul li a{
  height: 27rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e729e7;
}
li a:hover{
  opacity:0.9;
}
.content{
  padding: .5rem 1rem;
  position: relative;
}
.favorite {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
  color: #e729e7;

}

/* Styles for favorite heart icon when it's not favorite */
.favorite .not {
  color: black; /* You can customize the color here */
}
.star{
  margin-bottom: .2rem;
}
.product-items{
  display: flex;
  justify-content: space-between;
align-items: center;
}
.origin{
  flex:9;
}
.origin span{
  border-radius: 2rem;
  background-color: whitesmoke;
  color: gray;
  font-size: .8rem;
  margin-right: .3rem;
  display: inline-block;
}
.cook-time{
  font-size: .8rem;
  flex:3;
  text-align: center;
}
.price{
  color: gray;
  margin-top: .2rem;
}
